body {
        font-family: sans-serif;
        padding: 0;
        background-color: rgb(35, 36, 36);
    }
    .header {
        position: sticky;
        top: 0;
        border: 0;
        padding: 1%;
        outline: 0;
        background-color: rgb(17, 17, 20);
        color: white;
    }
    button {
        color: black;
        background-color: white;
        border-radius: 20%;
        font-family: Impact;
    }
