body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0;
        background-color: rgb(35, 36, 36);
        color: white;
    }
    .header {
        position: sticky;
        top: 0;
        border: 0;
        padding: 1%;
        outline: 0;
        background-color: rgb(17, 17, 20);
        margin: 0;
        margin-top: 1%;
    }
    button {
        color: black;
        background-color: white;
        border-radius: 20%;
        font-family: Impact;
    }
